.app {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 250px;
  padding: 20px;
  background-color: #f4f4f4;
  border-right: 1px solid #ddd;
  height: 100vh;
}

.product-list {
  flex-grow: 1;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  background-color:antiquewhite(161, 226, 223);
}
